body {
  background-color: grey;
  color: black;
  text-align: center;
  font-size: 60px;
  color: gold;
  padding-top: 2px;
  font-family: 'Satisfy', cursive;
  color: firebrick ;
  font-family: 'Philosopher', sans-serif;
  font-size: 30px;
